<?xml version="1.0"?>
<config>
	<modules>
		<Ameex_MinimumorderFee>
			<version>0.1.7</version>
		</Ameex_MinimumorderFee>
	</modules>
	<frontend>
		<layout>
			<updates>
				<minimumorderfee>
					<file>minimumorderfee.xml</file>
				</minimumorderfee>
			</updates>
		</layout>
		<routers>
			<checkout>
				<args>
					<modules>
						<ameex_minimumorderfee before="Mage_Checkout">Ameex_MinimumorderFee</ameex_minimumorderfee>
					</modules>
				</args>
			</checkout>
			</routers>
	</frontend>
	<global>
		<blocks>
			<minimumorderfee>
				<class>Ameex_MinimumorderFee_Block</class>
			</minimumorderfee>
		</blocks>
		<models>
			<sales>
				<rewrite>
					<quote_address>Ameex_MinimumorderFee_Model_Sales_Quote_Address</quote_address>
				</rewrite>
			</sales>
			<minimumorderfee>
				<class>Ameex_MinimumorderFee_Model</class>
				<resourceModel>ameex_minimumorderfee_resource</resourceModel>
			</minimumorderfee>
			<ameex_minimumorderfee_resource>
				<class>Ameex_MinimumorderFee_Model_Resource</class>
			</ameex_minimumorderfee_resource>
		</models>
		<resources>
			<ameex_minimumorderfee_setup>
				<setup>
					<module>Ameex_MinimumorderFee</module>
				</setup>
			</ameex_minimumorderfee_setup>
		</resources>
		<fieldsets>
			<sales_convert_quote_address>
				<base_custom_fee_amount>
					<to_order>*</to_order>
				</base_custom_fee_amount>
				<custom_fee_amount>
					<to_order>*</to_order>
				</custom_fee_amount>
			</sales_convert_quote_address>
			<sales_convert_quote_item>
					<base_custom_fee_amount>
					<to_order_item>*</to_order_item>
				</base_custom_fee_amount>
				<custom_fee_amount>
					<to_order_item>*</to_order_item>
				</custom_fee_amount>
			</sales_convert_quote_item>
		</fieldsets>
		<sales>
			<quote>
				<totals>
					<minimumorderfee>
						<class>minimumorderfee/sales_quote_address_total_minimumorderfee</class>
						<after>subtotal</after>
						<renderer>minimumorderfee/checkout_total_minimumorderfee</renderer>
					</minimumorderfee>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<minimumorderfee>
						<class>minimumorderfee/sales_order_invoice_total_minimumorderfee</class>
						<after>subtotal</after>
					</minimumorderfee>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<minimumorderfee>
						<class>minimumorderfee/sales_order_creditmemo_total_minimumorderfee</class>
						<after>subtotal</after>
					</minimumorderfee>
				</totals>
			</order_creditmemo>
		</sales>
		<helpers>
			<minimumorderfee>
				<class>Ameex_MinimumorderFee_Helper</class>
			</minimumorderfee>
		</helpers>
		<events>  
				<paypal_prepare_line_items>
                <observers>
                    <minimumorderfee>
                        <type>singleton</type>
                        <class>minimumorderfee/observer</class>
                        <method>addScreenToPayPal</method>
                    </minimumorderfee>
                </observers>
            </paypal_prepare_line_items>
        </events>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<minimumorderfee>
					<file>minimumorderfee.xml</file>
				</minimumorderfee>
			</updates>
		</layout>
	</adminhtml>
</config>
